* {
    box-sizing: border-box;
    margin: 0;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.parent .child {
    background-color: #9a9a9a;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
}

h2,p {
    text-align: center;
}


@media (min-width: 415px) and (max-width: 820px) {
    .parent .child {
        width: calc(50% - 5px);
    }
    h2 {
        color: blueviolet;
    }
    p {
        color: rgb(52, 1, 94);
    }
}

@media (min-width: 821px) {
    .parent .child {
        width: calc(25% - 5px);
    }
    h2 {
        color: aqua;
    }
    p {
        color: aquamarine;
    }
}

